@model IEnumerable<Tuckshop.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create">Order here</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                OrderNumber
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Date Ordered</a>

            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Student Name</a>

            </th>
            <th>
                Food
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.FoodID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequestID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
