@model Tuckshop.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PaymentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
